.textarea {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 12px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--border);
  resize: none;
  overflow: hidden;
}

.textarea.invalid {
  border-color: #ff0000;
}

.errorText {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  color: #ff0000;
  font-size: 12px;
}

.btnBox {
  display: flex;
  gap: 7px;
  align-self: flex-end;
}
