.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	margin-bottom: 15px;
	padding: 16px;
	background: var(--white);
}

.container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.add__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	border-radius: 50%;
	background-color: var(--accent);
	cursor: pointer;
}
