.card {
	position: relative;
	width: 100%;
	max-width: 343px;
	min-height: 188px;
	padding: 50px 14px 14px;
	background-color: var(--white);
	border-radius: 15px;
	border: 1px solid var(--border);
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 46px;
}

.textarea {
	width: 100%;
	height: 40px;
	padding: 10px 10px 10px 12px;
	font-size: 16px;
	font-weight: 500;
	border: 1px solid var(--border);
	resize: none;
	overflow: hidden;
}

.btnBox {
	display: flex;
	gap: 7px;
	align-self: flex-end;
}

.deleteBtn {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
	cursor: pointer;
}
